@page
@model VPM.Pages.Reservations.IndexModel


@{
    string title = string.Empty;

    if (User.IsInRole("Admin"))
    {
        title = "All Reservations";
    }
    else if (User.IsInRole("Manager"))
    {
        title = "Building Reservations";
    }
    else if (User.IsInRole("Resident"))
    {
        title = "My Reservations";
    }

    ViewData["Title"] = title;
}



<div class="row">
    <div class="col-6">
        <h1>@title</h1>
    </div>
    <div class="col-6 text-right">
        <p>
            <a asp-page="Create"><input type="button" value="Create new reservation" class="btn btn-primary" /></a>
        </p>
    </div>
</div>
@await Component.InvokeAsync("ReservationList", new { Reservations = Model.Reservations, Query = Model.Query })