@page
@model VPM.Pages.Buildings.IndexModel
@{
    string title = "Buildings";

    ViewData["Title"] = title;
}

<div class="row">
    <div class="col-6">
        <h1>@title</h1>
    </div>
    <div class="col-6 text-right">
        <p>
            <a asp-page="Create"><input type="button" value="Add New Building" class="btn btn-primary" /></a>
        </p>
    </div>
</div>
@await Component.InvokeAsync("BuildingList", new { Buildings = Model.Buildings, Query = Model.Query })